In [1]:
import os
import time
import pandas as pd
import warnings
# warnings.filterwarnings("ignore", category=PerformanceWarning)

In [2]:
# Navigate to data folder and get file

project = os.path.realpath('./..')
datadir = os.path.join(project, 'data')
datafile = os.path.join(datadir, 'tweets_1M.json')

In [3]:
# Read to pandas DataFrame

tweets = pd.read_json(datafile)

In [4]:
tweets.head()

,id,lat,lng,text,timeStamp,user_id
0,377652254096228352,37.446100,-121.883557,@Tanner_Cortez hey checkout the website: http:...,2013-09-11 04:38:08,224874450
1,377652255346159616,34.087406,-117.462604,@Lennayy7 ðŸ˜ª,2013-09-11 04:38:08,312179473
2,377652262325456897,37.356131,-121.842867,i laugh a lot with that line,2013-09-11 04:38:10,54351774
3,377652264682655744,37.364664,-122.009629,sons of anarchy is back on woop woop,2013-09-11 04:38:11,343219606
4,377652271116722176,37.382600,-121.995000,Drinking a Fresh Squeezed IPA by @deschutesbee...,2013-09-11 04:38:12,1569395935

In [5]:
# # Constrain to Bay Area

# tweets = tweets.loc[
#     (tweets.lat > 36.903929764) &
#     (tweets.lat < 38.853939589) &
#     (tweets.lng > -123.528897483) &
#     (tweets.lng < -121.213352822)
# ]

In [6]:
# Create a subset to 100,000 records randomly

subset = tweets.sample(n=100000)

In [7]:
# Save both tables to HDF5 file for speed of access

h5file = os.path.join(datadir, 'tweets_1M.h5')

tweets.to_hdf(h5file, 'tweets', mode='w')
subset.to_hdf(h5file, 'tweets_subset', mode='a')